@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

body{
	background-color: black;
	// background: url('../media/cmd background.png') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Major Mono Display', monospace;
	.container {
		line-height: 1.8;
		font-size: 20px;
		color: #00b0ff;
		padding: 25px 25px 25px 25px;
		.welcome {
			font-size: 25px;
			font-weight: bold;
			margin-top: 20px;
			border: 2px dashed #c7c7c7;
			padding: 20px 20px 20px 20px;
			color: #ffffff;
		}
		.nameEntry{
			margin-left: 30px;
			color: #fffc58;
			input{
				font-family: inherit;
				width: 27.5%;
				border: 0;
				border-bottom: 2px solid #fffc58;
				outline: 0;
				font-size: 1.5rem;
				color: white;
				padding: 7px 0;
				background: transparent;
				// type: uppercase;
			}
		}
		.animation {
			margin-top: 30px;
			margin-left: 30px;
			color: #fffc58;
			display: none;
			#parent {
				height: 40px;
				white-space: nowrap;
				overflow: hidden; 
				// font-family: 'Source Code Pro', monospace;  
				//font-size: 28px;
				//color: rgba(255,255,255,.70);
				position: relative;
			}
		}
		.commandLine {
			display: none;
			.commandHeader{

			}
			input{
				font-family: inherit;
				// width: 27.5%;
				border: 0;
				// border-bottom: 2px solid #fffc58;
				outline: 0;
				font-size: 1.5rem;
				color: white;
				padding: 7px 0;
				background: transparent;
				type: uppercase;
			}
			.output{
				.error{
					color: #ff6e67;
				}
				.ls {
					color: #00ff9c;

				}
				.certificates {
					// color: #fffc58;
					// padding-left: 45px; 
					line-height: normal;
					.certificate {
						// border: 3px solid #c7c7c7;
						// padding: 20px;
					}
					h2 {
						// font-size: 25px;
					}
					p {
						font-size: 20px;
					}
				}
				.bio {
					color: white;
				}
				.skills {
					table {
						th {
							padding-right: 30px;
						}
						td {
							padding-right: 30px; 
							width: 80%;
							.progress {
								color: white;
								line-height: 1.5;
								padding: 5px;
								background: #2a2a2a;
								border-radius: 6px;
								box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
								.progress-bar {
									height: 20px;
									border-radius: 4px;
									background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
									box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
								}
							}

						}
					}
				}
				.projects {
					line-height: normal;
				}
				.contact {
					color: #00ff9c;
					padding-left: 45px; 
				}
			}
		}
	}
}
.command {
	color: #00ff9c;	
}
.smallText {
	padding-top: 10px;
	color: grey;
	font-size: 20px;
}

#userName {
	color: #00ff9c;
}

hr{
	color: white;
	margin-top: 20px;
}
a {
	text-decoration: none;
	color: white;
	&:hover{
		text-decoration: underline;
	}
}

/* Animation */
// #parent {
//   animation: animated-text 2s steps(30,end) 1s 1 normal both
// }


/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 500px;}
}

